<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!search">Saved Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-text-center ion-padding-top">
  <img src="assets/img/3.png">
</div>

 <div *ngFor="let item of teamrecords">
  <ion-list *ngIf="item.uid === true" class="ion-padding-top">
    <ion-item (click)="savedetailsteam(item)">
    <ion-avatar slot="start" class="ava">
      <img [src]="item.url">
    </ion-avatar>
      <ion-label>
        <h2 class="h22">{{item.Name}}</h2>
        <p class="p1"> {{item.ActivityCategory}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  </div> 

<!-- <div *ngFor="let item of posts | filter:filterTerm">
  <ion-list *ngIf="item.fields.Save === true" class="ion-padding-top">
    <ion-item (click)="savedetailsteam(item)">
    <ion-avatar slot="start" class="ava" *ngFor="let postimg of item.fields.FeaturedPhoto">
      <img [src]="postimg.url">
    </ion-avatar>
      <ion-label>
        <h2 class="h22">{{item.fields.Name}}</h2>
        <p class="p1"> {{item.fields.ActivityCategory}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  </div>

  <div *ngFor="let item of postsexpolore | filter:filterTerm">
    <ion-list *ngIf="item.fields.Save === true" class="ion-padding-top">
      <ion-item (click)="savedetailsexp(item)">
      <ion-avatar slot="start" class="ava" *ngFor="let postimg of item.fields.Featuredphoto">
        <img [src]="postimg.url">
      </ion-avatar>
        <ion-label>
          <h2 class="h22">{{item.fields.Name}}</h2>
          <p class="p1">{{item.fields.TypeOfActivity}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    </div> -->

    <div class="align-items-center" *ngFor="let record of records;">
        <ion-list *ngIf="record.uid === true" class="ion-padding-top">
          <ion-item (click)="savedetailsexp(record)">
          <ion-avatar slot="start" class="ava">
            <img [src]="record.url">
          </ion-avatar>
            <ion-label>
              <h2 class="h22">{{record.Name}}</h2>
              <p class="p1">{{record.TypeOfActivity}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
</ion-content>
