.se {
  padding-right: 5px;
  font-size: 25px;
}

.brd{
  border: solid #eae8e8;

}

.ava {
  height: 65px;
  width: 65px;
}

.p1 {
  font-size: 16px;
  padding-top: 4px;
}

.h22 {
  font-size: 18px;
}
.label1 {
  font-weight: bold;
  font-size: 20px;
}
.sear1 {
  padding-top: 10px;
}
