<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="support-circle"></ion-back-button>
    </ion-buttons>
    <ion-title>{{blogdetails.fields.Name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-text-center ion-padding-top">
  <img src="assets/img/6.png">
</div>

<div class="ion-padding-top ion-padding-start">
  <ion-text>
    <h3>
      Add Person
    </h3>
  </ion-text>
</div>
<form >
  <ion-item>
    <ion-icon slot="start" color="medium" name="person"></ion-icon>
    <ion-input required type="text" [(ngModel)]="data.Name" name = "Name" >{{blogdetails.fields.Name}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" color="medium" name="mail"></ion-icon>
    <ion-input required type="0" [(ngModel)]="data.Email" name = "Email" >{{blogdetails.fields.Email}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" color="medium" name="call"></ion-icon>
    <ion-input required type="text" [(ngModel)]="data.phone_number" name = "phone_number" >{{blogdetails.fields.phone_number}}</ion-input>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" color="medium" name="people"></ion-icon>
    <ion-input required type="text" [(ngModel)]="data.relationship" name = "relationship" >{{blogdetails.fields.relationship}}</ion-input>
  </ion-item>
  <ion-button (click)="updateCircle()"  expand="block" color="tertiary" class="ion-padding-start ion-padding-end btn1">
    Update
  </ion-button>
</form>
</ion-content>
