.brd{
    border: solid #eae8e8;
    
}
.tr{
    position: relative;
    top: 9px;
}
.bl{
    font-weight: bold;
}
.font-set{
    font-weight: bold;
    font-size: 23px;
}
.sett{
    position: relative;
    /* left: -1px; */
    bottom: 25px;
}
.rtre{
    position: relative;
    bottom: 30px;
}

