.p1 {
    font-size: 16px;
    padding-top: 4px;
    color: #727272;
  }
  .p2 {
    font-size: 16px;
    padding-top: 4px;
   
  }
  .ava{
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .brd{
    border: solid #eae8e8;
    
}