.h111 {
  font-weight: bold;
}
.se {
  padding-right: 5px;
  font-size: 25px;
}

.brd{
  border: solid #eae8e8;

}

.ava {
  height: 65px;
  width: 65px;
}

.p1 {
  font-size: 16px;
  padding-top: 4px;
}

.h22 {
  font-size: 18px;
    padding-bottom: 10px;
}
.lab1 {
  padding-bottom: 10px;
  color: #ccc;
}
.label1 {
  font-weight: bold;
  font-size: 20px;
}
.list1 {
  padding-top: 65px;
}
hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}
.cs1 {
  color: #ccc;
}
.btn1 {
  --border-radius: 4px;
  margin-top: 45px;
  height: 50px;
}
