.brd{
    border: solid #eae8e8;
    
}
.tr{
    position: relative;
    top: 9px;
}
.bl{
    font-weight: bold;
}
.brd{
    border: solid #eae8e8;
}
.img-size{
    width: 200px;
    height: 208px;
    margin: auto;
}