.brd{
  // border: solid #eae8e8;
  // margin-top: 0px;
  // margin-bottom: -3px;
  border-bottom: outset;
  margin-bottom: 0px;
  margin-top: 0px;
}
.brd1{
  // border: solid #eae8e8;
  // margin-bottom: -3px;
  // margin-top: 0px;
  border-bottom: outset;
  margin-bottom: 0px;
  margin-top: 0px;
}
.brd2{
  border: dashed #eae8e8;
  margin-bottom: 0px;
  margin-top: 0px;
}
.col{
  color: #eae8e8;
}
.btn{
  --background: #8100f6;
  height: 51px;
}
.poss{
  position: relative;
  top: 35px;
}
.inng {
  height: 85px;
}
