<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Team Activities</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="search" class="se" (click)="search1()"></ion-icon>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="filterTerm" class="sear1" *ngIf="search == true" type="text" color="light" placeholder="Search text" clearInput>
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-text-center ion-padding-top">
  <img src="assets/img/2.png">
</div>
<ion-item class="brd ion-margin" lines="none">
  <ion-label class="label1">Filter</ion-label>
    <ion-select [(ngModel)]="selectedvalue" (ionChange)="OnChange($event)">
      <ion-select-option *ngFor="let post of postfil">{{post}}</ion-select-option>
    </ion-select>
</ion-item>


<ion-list class="ion-padding-top">
  <ion-item *ngFor="let item of teams | filter:filterTerm">
    <ion-avatar slot="start" class="ava" *ngFor="let postimg of item.fields.Photo">
      <img [src]="postimg.url">
    </ion-avatar>
    <ion-label>
      <h2 class="h22">{{item.fields.Name}}</h2>
      <p class="p1">{{item.fields.ActivityCategory}}</p>
    </ion-label>
  </ion-item>

  <!-- <ion-item>
    <ion-avatar slot="start" class="ava">
      <img src="assets/img/9.png">
    </ion-avatar>
    <ion-label>
      <h2 class="h22">Ask a Friend</h2>
      <p class="p1">Continous Education</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start" class="ava">
      <img src="assets/img/10.png">
    </ion-avatar>
    <ion-label>
      <h2 class="h22">Become Friends</h2>
      <p class="p1">Awareness</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start" class="ava">
      <img src="assets/img/11.png">
    </ion-avatar>
    <ion-label>
      <h2 class="h22">Play Trivia</h2>
      <p class="p1">Team Bonding</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start" class="ava">
      <img src="assets/img/10.png">
    </ion-avatar>
    <ion-label>
      <h2 class="h22">Weekly Team Hangout</h2>
      <p class="p1">Team Bonding</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start" class="ava">
      <img src="assets/img/13.png">
    </ion-avatar>
    <ion-label>
      <h2 class="h22">Facilitated Meeting</h2>
      <p class="p1">Handling Conflict</p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start" class="ava">
      <img src="assets/img/11.png">
    </ion-avatar>
    <ion-label>
      <h2 class="h22">Play Trivia</h2>
      <p class="p1">Team Bonding</p>
    </ion-label>
  </ion-item> -->
</ion-list>
</ion-content>
